@import '~node_modules/modern-normalize/modern-normalize.css';
h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}


ul {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;

}

button {
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    font-family: inherit;
}

a {
    text-decoration: none;
        font-style: normal;
    
}
body {
    font-family: var(--primary-font);
    font-size: 14px;
    font-weight: 500;
    color:var(--text-color_dark);
    background-color: var(--base-bg-color);    
}
html {
    scroll-behavior: smooth;
}