:root {
    --accent-color: #FF6B01;
    --base-bg-color: #fff;
   

    --primary-font: 'Roboto', sans-serif;
    // базовий шрифт в проекті - Roboto
    --title-font: 'Seymour One',sans-serif;

    --transition-prop: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}