<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button type="button" class="modal-close-btn" data-modal-close>
      <svg class="mw-movie__icon-close">
        <use
          aria-label="close icon"
          href="./sass/img/sprite.svg#icon-cross"
        ></use>
      </svg>
    </button>
    <div class="modal-team">
      <h2>Назва команди</h2>
      <ul class="team-list">
        <li class="team-item">
          <img src="./sass/img/team/Anna.jpg" alt="" class="team-img" />
          <div class="team-description">
            <h3 class="team-name">Name</h3>
            <p class="team-work">work</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
