<div class="backdrop is-hidden" mw-movie-card>
  <!-- додати в бекдроп is hidden  -->
  <div class="mw-movie container">
    <button class="mw-movie__btn-close" type="button" mw-movie-close>
      <svg class="mw-movie__icon-close">
        <use
          aria-label="close icon"
          href="./sass/img/sprite.svg#icon-cross"
        ></use>
      </svg>
    </button>
    
    <div class="mw-movie__poster">
      <img
        class="mw-movie__image"
        src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/ci5A9TPmNajMxt1L8p4KlZ76sc9.jpg"
        alt="Movie"
        width="375"
        height="478"
      />

      <button class="btn-trailer" type="button" aria-label="play movie trailer">
        <svg
          class="btn-trailer__svg"
          width="68"
          height="48"
          viewBox="0 0 68 48"
        >
          <path
            class="btn-trailer__path"
            d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
            fill="#212121"
          ></path>
          <path d="M 45,24 27,14 27,34" fill="#fff"></path>
        </svg>
      </button>
    </div>
    <div>
      <h2 class="mw-movie__info-heading">A Fistful of Lead</h2>
      <table class="mw-movie__info-table">
        <tr class="mw-movie__info-table-row">
          <td class="mw-movie__info-table-row-name">Vote / Votes</td>
          <td class="mw-movie__info-table-row-data">
            <span class="mw-movie__info-table-rating">7.1</span
            ><span class="mw-movie__info-table-slash"> / </span>Votes
          </td>
        </tr>
        <tr class="mw-movie__info-table-row">
          <td class="mw-movie__info-table-row-name">Popularity</td>
          <td class="mw-movie__info-table-row-data">Popularitydata</td>
        </tr>
        <tr class="mw-movie__info-table-row">
          <td class="mw-movie__info-table-row-name">Original Title</td>
          <td class="mw-movie__info-table-row-data">Titledata</td>
        </tr>
        <tr class="mw-movie__info-table-row">
          <td class="mw-movie__info-table-row-name">Genres</td>
          <td class="mw-movie__info-table-row-data">Genresdata</td>
        </tr>
      </table>
      <p class="mw-movie__info-table-description">
        ABOUT <br />
        Four of the West’s most infamous outlaws assemble to steal a huge stash
        of gold from the most corrupt settlement of the gold rush towns. But not
        all goes to plan one is killed and the other three escapes with bags of
        gold hide out in the abandoned gold mine where they happen across
        another gang of three – who themselves were planning to hit the very
        same bank! As tensions rise, things go from bad to worse as they realise
        the bags of gold are filled with lead... they’ve been double crossed –
        but by who and how?
      </p>
      <ul class="mw-movie__btn-list">
        <li>
          <button class="mw-movie__btn-addwatch" type="button">
            Add to watched
          </button>
        </li>
        <li>
          <button class="mw-movie__btn-addqueue" type="button">
            Add to Queue
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
