<div class="backdrop">
  <!-- додати в бекдроп is hidden  -->
  <div class="mw-movie container">
    <button class="mw-movie__btn-close" type="button" mw-movie-close>
      <svg class="mw-movie__icon-close">
        <use aria-label="close icon" href="./images/sprite.svg#cross"></use>
      </svg>
    </button>
    <div>
      <img
        class="mw-movie__image"
        src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/ci5A9TPmNajMxt1L8p4KlZ76sc9.jpg"
        alt="Movie"
        width="375"
        height="478"
      />
    </div>
    <div>
      <h2 class="mw-movie__info-heading">A Fistful of Lead</h2>
      <table class="mw-movie__info-table">
        <tr class="mw-movie__info-table-row">
          <td class="mw-movie__info-table-row-name">Vote / Votes</td>
          <td class="mw-movie__info-table-row-data">
            <span class="mw-movie__info-table-rating">7.1</span
            ><span class="mw-movie__info-table-slash"> / </span>Votes
          </td>
        </tr>
        <tr class="mw-movie__info-table-row">
          <td class="mw-movie__info-table-row-name">Popularity</td>
          <td class="mw-movie__info-table-row-data">Popularitydata</td>
        </tr>
        <tr class="mw-movie__info-table-row">
          <td class="mw-movie__info-table-row-name">Original Title</td>
          <td class="mw-movie__info-table-row-data">Titledata</td>
        </tr>
        <tr class="mw-movie__info-table-row">
          <td class="mw-movie__info-table-row-name">Genres</td>
          <td class="mw-movie__info-table-row-data">Genresdata</td>
        </tr>
      </table>
      <p class="mw-movie__info-table-description">
        ABOUT <br />
        Four of the West’s most infamous outlaws assemble to steal a huge stash
        of gold from the most corrupt settlement of the gold rush towns. But not
        all goes to plan one is killed and the other three escapes with bags of
        gold hide out in the abandoned gold mine where they happen across
        another gang of three – who themselves were planning to hit the very
        same bank! As tensions rise, things go from bad to worse as they realise
        the bags of gold are filled with lead... they’ve been double crossed –
        but by who and how?
      </p>
      <ul class="mw-movie__btn-list">
        <li>
          <button class="mw-movie__btn-addwatch" type="button">
            Add to watched
          </button>
        </li>
        <li>
          <button class="mw-movie__btn-addqueue" type="button">
            Add to Queue
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
