.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  gap: 20px;

  @media screen and (min-width: $tablet) {
    margin-top: 40px;
    gap: 32px;
  }

  @media screen and (min-width: $desktop) {
    gap: 16px;
  }
}

.button {
  width: 150px;
  height: 44px;
  border-radius: 5px;
  border: 1px solid $white;
  color: $white;
  background: rgba(0, 0, 0, 0);
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    background-color: $orange-button;
    box-shadow: 0px 8px 43px $box-shadow-color;
    border: none;
  }
}

.btn__current {
  background-color: $orange-button;
  box-shadow: 0px 8px 43px $box-shadow-color;
  border: none;
}

.btn-up {
  //   border: 1px solid $orange-button;
  // color: $white;
  height: 50px;
  width: 50px;
  padding: 15px;
  text-align: center;
  background-color: rgba(129, 117, 116, 0.7);
  position: fixed;
  bottom: 20px;
  right: 20px;
  margin-bottom: 0;
  z-index: 25;
  transition: opacity var(--transition-prop), visibility var(--transition-prop), transform var(--transition-prop);

  &:hover,
  &:focus,
  &:active {
    background-color: $orange-button;
    box-shadow: 0px 8px 43px $box-shadow-color;
    border: none;
  }
}

.btn-up_hide {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: translateX(100%);
}
.btn-up__icon {
  position: absolute;
  width: 30px;
    height: 30px;
    left: 9px;
    top: 9px;
    fill: #000;
}
.btn-up__path {
  fill: #fff;
  
}
