.form {
    display: grid;
    position: relative;
    margin: 0 auto;
}

.form__box {
    margin-top: 54px;
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    border-bottom: 0.5px solid $white;
    position: relative;


    @media screen and (min-width: $tablet) {
        width: 336px;
        margin-top: 40px;
    }

    @media screen and (min-width: $desktop) {
        width: 394px;
        margin-top: 41px;
    }

    &:hover,
    &:focus {
        animation: $transition;
        border-bottom: 0.5px solid $red;

    }

}

.form__input {
    width: 100%;
    height: 30px;
    margin-right: 0;
    border: none;
    outline: none;
    background: rgba(0, 0, 0, 0);
    position: relative;
    color: $white;
    outline: none;
    border-bottom: 0.5px solid $white;
    position: relative;

    &:hover,
        &:focus {
            animation: $transition;
            border-bottom: 0.5px solid $red;
        }

    &::placeholder {
        color: $white;
        font-size: 14px;
        line-height: 1.14;
        font-weight: 400;
    }

}

.form__text-error {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    color: $red;
    margin-top: 16px;
    text-align: left;

    @media screen and (min-width: $tablet) {
        margin-top: 20px;
        text-align: center;
    }
}

.form__btn {
    height: 25px;
    width: 25px;
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.form__icon {
    stroke: $white;
    stroke-width: 3px;
    fill: none;

    &:hover,
    &:focus {
        transform: scale(1.5);
        animation: $transition;
        fill: $red;

    }

}


