.logo {
    display: flex;
    align-items: center;
    width: 175px;
    height: 35px;
}

.logo__title {
    text-align: center;
    color: $white;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.16;
    margin-left: 10px;

    &:hover,
    &:focus {
        color: $red;
        transition: $transition;
    }

    @media screen and (max-width: 767px) {
        display: none;
    }
}

.logo > .logo__icon {

    stroke: $white;
    stroke-width: 2.7px;
    fill: none;

    &:hover, &:focus {
        transition: $transition;
        stroke: $red;
    }
}