.pagination {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.pagination__button {
  padding: 0;
  margin: 0;
  height: 40px;
  width: 40px;
  text-align: center;
  background-color: inherit;
  border: 0;
  border-radius: 5px;
  cursor: default;

  &_hover:hover {
    background-color: #d7d7d7;
    cursor: pointer;
  }

  &_active {
    background-color: #ff6b08;
    cursor: default;
    color: #fff;
  }

  &-arrow {
    background-color: #f7f7f7;
  }
}
