.basicLightbox {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0.01;
    transition: opacity 0.4s ease;
    z-index: 1000;
    will-change: opacity;
}

.basicLightbox--visible {
    opacity: 1;
}

.basicLightbox__placeholder {
    max-width: 100%;
    transform: scale(0.9);
    transition: transform 0.4s ease;
    z-index: 1;
    will-change: transform;
}

.basicLightbox__placeholder>iframe:first-child:last-child,
.basicLightbox__placeholder>img:first-child:last-child,
.basicLightbox__placeholder>video:first-child:last-child {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    max-width: 95%;
    max-height: 95%;
}

.basicLightbox__placeholder>iframe:first-child:last-child,
.basicLightbox__placeholder>video:first-child:last-child {
    pointer-events: auto;
}

.basicLightbox__placeholder>img:first-child:last-child,
.basicLightbox__placeholder>video:first-child:last-child {
    width: auto;
    height: auto;
}

.basicLightbox--iframe .basicLightbox__placeholder,
.basicLightbox--img .basicLightbox__placeholder,
.basicLightbox--video .basicLightbox__placeholder {
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.basicLightbox--visible .basicLightbox__placeholder {
    transform: scale(1);
}
.basicLightbox__placeholder iframe {
    height: 240px;
    min-width: 320px;

    @media screen and (min-width: 768px) {
        height: 480px;
        width: 640px;
    }

    @media screen and (min-width: 1024px) {
        height: 768px;
        width: 1024px;
    }
}
.mw-movie__poster {
    position: relative;
    display: inline-block;
    height: min-content;
    background: #000;
    border-radius: 5px;
}
.btn-trailer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 68px;
    height: 48px;
    background-color: transparent;
    opacity: 0.8;
    pointer-events: none;
    transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-trailer__path {
    transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mw-movie__poster:hover,
.mw-movie__poster:focus {
    .mw-movie__image--trailer {
        opacity: 0.8;
    }

    .btn-trailer {
        opacity: 1;
    }

    .btn-trailer__path {
        fill: #f00;
    }
}