.footer__container {
  background-color: #f7f7f7;
  padding: 40px 30px;
  text-align: center;
  //   display: flex;
  //   flex-wrap: wrap;
}
.footer-img {
  display: block;
}
.footer-text {
  font-family: var(--primary-font);
  //   font-style: normal;
  //   font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  //   display: flex;
  //   align-items: center;
  //   text-align: center;
}
.text-flex {
  display: flex;
  gap: 10px;
}
.footer-underline {
  text-decoration: underline;
}
@media screen and (max-width: 767px) {
  .text-flex {
    margin-top: 10px;
  }
}
@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
}

.modal {
  //   transition: transform var(--animation-modal), opacity var(--animation-modal);
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);
  width: 100%;
  @media screen and (min-width: 320px) {
    width: 300px;
    // height: 609px;
  }
  @media screen and (min-width: 768px) {
    width: 650px;
    // height: 609px;
  }
  @media screen and (min-width: 1280px) {
    width: 1000px;
    height: 581px;
  }

  background-color: var(--base-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: var(--base-bg-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  //   transition: fill var(--animation);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

// .backdrop.is-hidden .modal {
//   transform: scale(3) rotate(180deg);
//   opacity: 0;
// }

.team-item {
  border: 3px solid grey;
  width: 220px;
}
.team-img {
  width: 200px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
