
.movies {
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.films-gallery__img {
    width: 280px;
    height: 402px;
    margin-bottom: 10px;
    border-radius: 5px;

    @media screen and (min-width: 768px) {
        width: 336px;
        height: 455px;
    }

    @media screen and (min-width: 1280px) {
        width: 395px;
        height: 574px;
    }
}

.films-gallery__title {
    word-break: break-word;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.2;
    @media screen and (min-width: 1280px) {
        font-size: 20px;
    }
}

.films-gallery__info {
   
    display: flex;
    color: #FF6B08;
    font-weight: 500;
    line-height: 24px;
}
.films-gallery__text {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.2;

    @media screen and (min-width: 1280px) {
        font-size: 19px;
    }
}


.films-gallery__rate {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #FF6B08;
    color: #ffff;
    width: 32px;
    height: 14px;
    font-size: 12px;
    border-radius: 5px;
    margin-left: 10px;

         @media screen and (min-width: 1280px) {
             width: 40px;
             height: 20px;
            font-size: 14px;
         }

}