.header-mylibrary__img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('./img/img-mylibrary.jpg');

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url('./img/img-mylibrary.jpg');
    }

    @media screen and (min-width: $tablet) and (max-width: 1279px) {
        height: 219px;
        padding-top: 45px;
        background-image: url('./img/img-mylibrary.jpg');

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url('./img/img-mylibrary.jpg');
        }
    }

    @media screen and (min-width:$desktop) {
        height: 216px;
        background-image: url('./img/img-mylibrary.jpg');

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url('./img/img-mylibrary.jpg');
        }
    }
}