.header {
    height: 230px;
    
    margin: 0px auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 40px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.56);
    color: $white;
    position: relative;
    z-index: 100;
}

.header__img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('./img/sm/header-sm@1x.jpg');

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url('./img/sm/header-sm@2x.jpg');
    }

    @media screen and (min-width: $tablet) and (max-width: 1279px) {
        height: 219px;
        padding-top: 45px;
        background-image: url('./img/md/header-md@1x.jpg');

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url('./img/md/header-md@2x.jpg');
        }
    }

    @media screen and (min-width:$desktop) {
        height: 216px;
        background-image: url('./img/lg/header-lg@1x.jpg');

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url('./img/lg/header-lg@2x.jpg');
        }
    }
}

.header__container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 24px;

    @media screen and (min-width:$tablet) {
        max-height: 35px;
    }
}

.header__logo {
    margin-right: auto;}